<?xml version="1.0" encoding="utf-8"?>
<!-- For HTML5 configuration details and recommendations, see https://github.com/h5bp/server-configs/wiki/web.config -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="On" />
	</system.web>
	<system.webServer>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
			<scheme name="gzip" dll="%WinDir%\System32\inetsrv\gzip.dll" />
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="application/*" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
		<urlCompression doStaticCompression="true" />
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="application/xml; charset=utf-8" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
			<remove fileExtension=".ogv" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<remove fileExtension=".xap" />
			<mimeMap fileExtension=".xap" mimeType="application/x-silverlight-app" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<remove name="X-UA-Compatible" />
				<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>