<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d522ad8c-6ba6-4c76-bc10-d26e5e2fd230" Version="1.1.0.0" Publisher="CN=WillA" />
  <Properties>
    <DisplayName>Microsoft Player Framework Samples (JavaScript)</DisplayName>
    <PublisherDisplayName>WillA</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Microsoft Player Framework Samples (JavaScript)" Description="Samples application using the JavaScript version of the Microsoft Player Framework" BackgroundColor="#ffffff" ForegroundText="dark" Square150x150Logo="images\logo.png" Square30x30Logo="images\smalllogo.png">
        <m2:SplashScreen BackgroundColor="#ffffff" Image="images\splashscreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>