<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="77d140be-ff00-43d2-8f91-6c7cc667d06d" Publisher="CN=timg" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Microsoft.PlayerFramework.Xaml.DashDemo</DisplayName>
    <PublisherDisplayName>timg</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Microsoft.PlayerFramework.Xaml.DashDemo.App">
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="dash" />
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Microsoft.PlayerFramework.Xaml.DashDemo" Description="DASH Demo" BackgroundColor="#ffffff" ForegroundText="dark" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:SplashScreen BackgroundColor="#ffffff" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>