/* Containers */
.pf-container {
    color: rgb(0, 0, 0);
    background-color: rgb(222, 222, 222);
}

.win-ui-dark .pf-container, .pf-container.win-ui-dark {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/* Links */
.pf-link {
    color: rgb(79, 26, 203);
}

.pf-link:hover {
    color: rgba(79, 26, 203, 0.8);
}

.pf-link:hover:active {
    color: rgba(79, 26, 203, 0.6);
}

.pf-link[disabled], .pf-link[disabled]:active {
    color: rgba(0, 0, 0, 0.4);
}

.win-ui-dark .pf-link {
    color: rgb(156, 114, 255);
}

.win-ui-dark .pf-link:hover {
    color: rgba(156, 114, 255, 0.8);
}

.win-ui-dark .pf-link:hover:active {
    color: rgba(156, 114, 255, 0.6);
}

.win-ui-dark .pf-link[disabled], .win-ui-dark .pf-link[disabled]:active {
    color: rgba(255, 255, 255, 0.4);
}

/* Button Control */
.pf-button:hover .pf-button-container {
    background-color: rgba(0, 0, 0, 0.13);
}

.pf-button:hover:active .pf-button-container {
    background-color: currentColor;
}

.pf-button:hover:active .pf-button-content {
    color: rgb(255, 255, 255);
}

.pf-button:disabled {
    color: rgba(0, 0, 0, 0.4) !important;
}

.win-ui-dark .pf-button:hover .pf-button-container {
    background-color: rgba(255, 255, 255, 0.13);
}

.win-ui-dark .pf-button:hover:active .pf-button-container {
    background-color: currentColor;
}

.win-ui-dark .pf-button:hover:active .pf-button-content {
    color: rgb(0, 0, 0);
}

.win-ui-dark .pf-button:disabled {
    color: rgba(255, 255, 255, 0.4) !important;
}

/* Indicator Control */
.pf-indicator-text {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.win-ui-dark .pf-indicator-text {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Meter Control */
.pf-meter-bar {
    background-color: rgba(0, 0, 0, 0.23);
}

.win-ui-dark .pf-meter-bar {
    background-color: rgba(255, 255, 255, 0.23);
}

/* Slider Control */
.pf-slider input[type=range]::-ms-fill-lower {
    background-color: rgb(70, 23, 180);
}

.pf-slider input[type=range]:hover::-ms-fill-lower {
    background-color: rgb(95, 55, 190);
}

.pf-slider input[type=range]:active::-ms-fill-lower {
    background-color: rgb(114, 65, 228);
}

.pf-slider input[type=range]:disabled::-ms-fill-lower {
    background-color: rgba(0, 0, 0, 0.2);
}

.pf-slider input[type=range]::-ms-fill-upper {
    background-color: rgba(0, 0, 0, 0.1);
}

.pf-slider input[type=range]:hover::-ms-fill-upper {
    background-color: rgba(0, 0, 0, 0.15);
}

.pf-slider input[type=range]:active::-ms-fill-upper {
    background-color: rgba(0, 0, 0, 0.2);
}

.pf-slider input[type=range]:disabled::-ms-fill-upper {
    background-color: rgba(0, 0, 0, 0.1);
}

.pf-slider input[type=range]::-ms-thumb {
    background-color: rgb(1, 1, 1);
}

.pf-slider input[type=range]:disabled::-ms-thumb {
    background-color: rgb(146, 146, 146);
}

.pf-slider progress::-ms-fill {
    background-color: rgba(0, 0, 0, 0.07);
}

.win-ui-dark .pf-slider input[type=range]::-ms-fill-lower {
    background-color: rgb(91, 46, 197);
}

.win-ui-dark .pf-slider input[type=range]:hover::-ms-fill-lower {
    background-color: rgb(114, 75, 205);
}

.win-ui-dark .pf-slider input[type=range]:active::-ms-fill-lower {
    background-color: rgb(129, 82, 239);
}

.win-ui-dark .pf-slider input[type=range]:disabled::-ms-fill-lower {
    background-color: rgba(255, 255, 255, 0.23);
}

.win-ui-dark .pf-slider input[type=range]::-ms-fill-upper {
    background-color: rgba(255, 255, 255, 0.16);
}

.win-ui-dark .pf-slider input[type=range]:hover::-ms-fill-upper {
    background-color: rgba(255, 255, 255, 0.18);
}

.win-ui-dark .pf-slider input[type=range]:active::-ms-fill-upper {
    background-color: rgba(255, 255, 255, 0.23);
}

.win-ui-dark .pf-slider input[type=range]:disabled::-ms-fill-upper {
    background-color: rgba(255, 255, 255, 0.16);
}

.win-ui-dark .pf-slider input[type=range]::-ms-thumb {
    background-color: rgb(254, 254, 254);
}

.win-ui-dark .pf-slider input[type=range]:disabled::-ms-thumb {
    background-color: rgb(126, 126, 126);
}

.win-ui-dark .pf-slider progress::-ms-fill {
    background-color: rgba(255, 255, 255, 0.07);
}

/* Buffering Control */
.pf-buffering-control {
    color: rgb(70, 23, 180);
}

.win-ui-dark .pf-buffering-control {
    color: rgb(91, 46, 197);
}

/* Control Panel */
.pf-control-panel, .pf-volume-mute-container .pf-volume-slider-control {
    background-color: rgb(255, 255, 255);
}

.pf-container .pf-control-panel, .pf-container .pf-volume-mute-container .pf-volume-slider-control {
    background-color: rgba(255, 255, 255, 0.65);
}

.win-ui-dark .pf-control-panel, .win-ui-dark .pf-volume-mute-container .pf-volume-slider-control {
    background-color: rgb(0, 0, 0);
}

.win-ui-dark .pf-container .pf-control-panel, .win-ui-dark .pf-container .pf-volume-mute-container .pf-volume-slider-control {
    background-color: rgba(0, 0, 0, 0.65);
}

.pf-slider-marker {
    background-color: rgba(0, 0, 0, 0.65);
}

.win-ui-dark .pf-slider-marker {
    background-color: rgba(255, 255, 255, 0.65);
}