/* Caption Cues Control */
/*****************************************************************/
.pf-caption-cues-container
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 45px;
	color: #fff;
	font-size: 18px;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
	text-align: center;
	z-index: 0;
}

.pf-caption-cues-container .cue
{
	display: table;
	margin: auto;
}

.pf-caption-cues-container .cue > *
{
	margin: 0;
	padding: 0;
	border: 0;
}