<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5cb70c4f-26dd-4847-ab5c-39878b794474" Publisher="CN=Tim" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Microsoft.PlayerFramework.Xaml.Localize</DisplayName>
    <PublisherDisplayName>timg</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Microsoft.PlayerFramework.Xaml.Localize.App">
      <VisualElements DisplayName="Microsoft.PlayerFramework.Xaml.Localize" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Microsoft.PlayerFramework.Xaml.Localize" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>