/* Indicator to help JS create elements differently (with primary and secondary containers) */
.pf-controlpanel-hierarchy {
}

/* Containers */
.pf-container.pf-show-buffering-container .pf-control-container {
    display: none;
}

.pf-loader-container .pf-button, .pf-error-container .pf-button, .pf-control-container .pf-button {
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.pf-loader-container .pf-button-container, .pf-error-container .pf-button-container, .pf-control-container .pf-button-container {
    border-width: 3px;
}

/* Buffering Control */
.pf-buffering-control:indeterminate {
    width: 60px;
    height: 60px;
}

.pf-buffering-control::-ms-fill {
    animation-name: -ms-ring;
}

/* Control Panel */
.pf-container .pf-control-panel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.pf-container .pf-control-panel {
    background-color: transparent !important;
}

    .pf-container .pf-control-panel .pf-controlcontainer-primary {
    }

    .pf-container .pf-control-panel .pf-controlcontainer-secondary {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

        .pf-container .pf-control-panel .pf-controlcontainer-secondary * {
            display: inline-block;
        }

    .pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button .pf-button-container {
        border: 0px;
    }

    .pf-container .pf-control-panel .pf-button {
        width: 40px;
        height: 40px;
        font-size: 22px;
    }

    .pf-container .pf-control-panel .pf-play-pause-control {
        width: 100px;
        height: 100px;
        font-size: 60px;
    }

    .pf-container .pf-control-panel .pf-skip-back-control, .pf-container .pf-control-panel .pf-skip-ahead-control, .pf-container .pf-control-panel .pf-rewind-control, .pf-container .pf-control-panel .pf-fast-forward-control, .pf-container .pf-control-panel .pf-skip-previous-control, .pf-container .pf-control-panel .pf-skip-next-control {
        width: 70px;
        height: 70px;
        font-size: 42px;
    }

    .pf-container .pf-control-panel .pf-elapsed-time-control, .pf-container .pf-control-panel .pf-time-separator, .pf-container .pf-control-panel .pf-remaining-time-control, .pf-container .pf-control-panel .pf-total-time-control {
        position: absolute;
        bottom: 15px;
        height: 22px;
        width: 70px;
        font-size: 22px;
    }

    .pf-container .pf-control-panel .pf-elapsed-time-control {
        left: 5px;
    }

    .pf-container .pf-control-panel .pf-time-separator {
        left: 85px;
        width: 10px;
        bottom: 20px;
    }

    .pf-container .pf-control-panel .pf-remaining-time-control {
        left: 100px;
    }

    .pf-container .pf-control-panel .pf-total-time-control {
        left: 100px;
    }

    .pf-container .pf-control-panel .pf-timeline-control {
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 50px;
        width: auto;
        height: 22px;
        z-index: 1;
    }

        .pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-track, .pf-container .pf-control-panel .pf-timeline-control progress {
            height: 12px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-thumb {
            height: 22px;
        }

.pf-transportbar {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: 80px;
    margin: 0px;
    background-color: red;
}

.pf-volume-mute-container .pf-volume-slider-control {
    bottom: calc(100% + 35px);
    height: 190px;
    left: calc(50% - 28px);
    padding: 15px 25px 0 25px;
}

.pf-container .pf-captions-container {
    padding: 65px 15px;
}

.pf-container.pf-full-screen .pf-captions-container {
    padding: 100px 15px;
}

.pf-container.pf-full-screen .pf-cue {
    font-size: 30px;
}

@media screen and (-ms-view-state: snapped) {
    .pf-container .pf-control-panel .pf-control:not(.pf-play-pause-control) {
        display: none !important;
    }
}

.pf-slider-marker {
    height: 3px;
    top: 35px;
}

/*.pf-slider-container .pf-slider-marker-container {
    left:0;
    right:0;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}

.pf-slider-container .pf-slider-thumbnail-container {
    left:0;
    right:0;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}

.pf-slider-thumbnailView {
    border: solid;
    border-width: 2px;
    top: -66px;
}*/
