/* Buffering Control */
.pf-buffering-control:indeterminate {
    color: rgb(255, 255, 255);
}

.win-ui-light .pf-buffering-control:indeterminate {
    color: rgb(0, 0, 0);
}

/* Control Panel */
.pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-thumb {
    background: transparent url("../images/thumb-dark.png");
}

.pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-fill-lower {
    background-color: rgb(255, 255, 255);
}

.pf-container .pf-control-panel .pf-timeline-control input[type=range]:disabled::-ms-fill-lower {
    background-color: rgba(255, 255, 255, 0.4);
}

.pf-slider-thumbnailView {
    border-color: rgb(255, 255, 255);
}

.win-ui-light .pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-thumb {
    background: transparent url("../images/thumb-light.png");
}

.win-ui-light .pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-fill-lower {
    background-color: rgb(0, 0, 0);
}

.win-ui-light .pf-container .pf-control-panel .pf-timeline-control input[type=range]:disabled::-ms-fill-lower {
    background-color: rgba(0, 0, 0, 0.4);
}

.win-ui-light .pf-slider-thumbnailView {
    border-color: rgb(0, 0, 0);
}
