/* Buffering Control */
.pf-buffering-control:indeterminate {
    color: rgb(255, 255, 255);
}

.win-ui-light .pf-buffering-control:indeterminate {
    color: rgb(0, 0, 0);
}

/* Control Panel */

.pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button .pf-button-container {
    background-color: rgba(0,0,0,.5);
}

.pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button:hover .pf-button-container {
    background-color: rgba(255,255,255,0.1294);
    color: rgba(255,255,255,1);
}

.pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button:active .pf-button-container {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,1);
}

.pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button:disabled .pf-button-container {
    background-color: rgba(0,0,0,.5) !important;
    color: rgba(255,255,255,.4);
}

.pf-transportbar {
    background-color: rgba(0,0,0,.5);
}

/*.pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-thumb {
    background: transparent url("../images/thumb-dark.png");
}*/

/*.pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-fill-lower {
    background-color: rgb(255, 255, 255);
}

.pf-container .pf-control-panel .pf-timeline-control input[type=range]:disabled::-ms-fill-lower {
    background-color: rgba(255, 255, 255, 0.4);
}*/

.pf-slider-thumbnailView {
    border-color: rgb(255, 255, 255);
}

.win-ui-light .pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button .pf-button-container {
    background-color: rgba(255,255,255,.5);
}

.win-ui-light .pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button:hover .pf-button-container {
    background-color: rgba(0,0,0,0.1294);
    color: rgba(0,0,0,1);
}

.win-ui-light .pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button:active .pf-button-container {
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
}

.win-ui-light .pf-container .pf-control-panel .pf-controlcontainer-primary .pf-button:disabled .pf-button-container {
    background-color: rgba(255,255,255,.5) !important;
    color: rgba(0,0,0,.4);
}

.win-ui-light .pf-transportbar {
    background-color: rgba(255,255,255,.5);
}

/*.win-ui-light .pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-thumb {
    background: transparent url("../images/thumb-light.png");
}

.win-ui-light .pf-container .pf-control-panel .pf-timeline-control input[type=range]::-ms-fill-lower {
    background-color: rgb(0, 0, 0);
}

.win-ui-light .pf-container .pf-control-panel .pf-timeline-control input[type=range]:disabled::-ms-fill-lower {
    background-color: rgba(0, 0, 0, 0.4);
}*/

.win-ui-light .pf-slider-thumbnailView {
    border-color: rgb(0, 0, 0);
}
