<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="67190a49-7de3-4746-a267-7d97b4f4be21" Publisher="CN=Tim" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="67190a49-7de3-4746-a267-7d97b4f4be21" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Microsoft.PlayerFramework.Samples.WindowsPhone</DisplayName>
    <PublisherDisplayName>Tim</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Microsoft.PlayerFramework.Samples.WindowsPhone.App">
      <m3:VisualElements DisplayName="Microsoft Player Framework Xaml Samples" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Xaml samples for the Microsoft Media Platform Player Framework" ForegroundText="light" BackgroundColor="#ffffff">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffffff" />
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>