.companion .content {
}

.companion .pf-companion-ad {
    background-color: #333;
    margin-bottom: 10px;
}

.companion .pf-companion-ad#companionAd1 {
    width: 300px;
    height: 60px;
}

.companion .pf-companion-ad#companionAd2 {
    display: none;
    width: 300px;
    height: 250px;
}